/*
 * Copyright 2020 Santiago Soler <santiago.r.soler@gmail.com>
 *
 * Content under CC BY-SA 4.0 License
 *
 * Forked from:
 *
 * Copyright 2013 Christophe-Marie Duquesne <chmd@chmd.fr>
 *
 * CSS for making a resume with pandoc. Inspired by moderncv.
 *
 * This CSS document is delivered to you under the CC BY-SA 3.0 License.
 * https://creativecommons.org/licenses/by-sa/3.0/deed.en_US
 */

/* Whole document */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 800px;
    margin: auto;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

/* Title of the resume */
h1 {
    font-size: 55px;
    color: #004C3F;
    text-align:center;
    margin-bottom:15px;
}

/* Titles of categories */
h2, h3 {
    color: #00695B;
}
/* There is a bar just before each category */
h2:before {
    content: "";
    display: inline-block;
    margin-right:1%;
    width: 16%;
    height: 10px;
    background-color: #00887A;
}

h3:before {
    content: "";
    display: inline-block;
    margin-right:1%;
    width: 16%;
    height: 10px;
}

/* Definitions */
dt {
    float: left;
    clear: left;
    width: 17%;
    /*font-weight: bold;*/
}
dd {
    margin-left: 17%;
    margin-bottom: 2%;
}
p {
    margin-top:0;
    margin-bottom:7px;
}

/* Blockquotes */
blockquote {
    text-align: center
}

/* Links */
a {
    text-decoration: none;
    color: #00796A;
}
a:hover, a:active {
    text-decoration: underline;
}

/* Horizontal separators */
hr {
    background-color: #ccc;
    border-width: 0px;
    height: 2px;
    width: 95%;
}

.footer {
    color: #aeaeae;
}
