name: build_cv

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Setup caching for tectonic
        uses: actions/cache@v3
        with:
          path: ~/.cache/Tectonic
          key: tectonic-${{ runner.os }}

      - name: Setup caching for conda packages
        uses: actions/cache@v3
        with:
          path: ~/conda_pkgs_dir
          key: conda-${{ runner.os }}-${{ hashFiles('environment.yml') }}

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2.1.1
        with:
          environment-file: environment.yml
          activate-environment: cv
          miniforge-variant: Mambaforge
          miniforge-version: "latest"
          use-mamba: true
          channel-priority: strict
          # Needed for caching
          use-only-tar-bz2: true

      - name: List installed packages
        shell: bash -l {0} # need to relogin in bash to enable mamba
        run: mamba list

      - name: Build CV
        shell: bash -l {0} # need to relogin in bash to enable mamba
        run: |
          make all
          touch _output/.nojekyll

      - name: Upload CV as an artifact
        uses: actions/upload-artifact@v2
        with:
          name: cv
          path: |
            _output/cv.pdf

  publish:
    needs: [build]
    runs-on: ubuntu-latest
    env:
      OUTPUT_DIR: _output/
      # Name of the preview branch.
      # REMEMBER: edit name in the other workflows as well.
      PREVIEW_BRANCH: preview-pr${{ github.event.number }}
      PDF_BRANCH: pdf
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Download the built PDF
        uses: actions/download-artifact@v4.1.7
        with:
          name: cv
          path: _output

      - name: Publish CV to preview branch
        if: ${{ github.event_name == 'pull_request' }}
        # Don't use tags: https://julienrenaux.fr/2019/12/20/github-actions-security-risk/
        uses: peaceiris/actions-gh-pages@8a36f3edfc5d1cbae6b09e6f5a7d7b19e5b7a73b
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ env.OUTPUT_DIR }}
          publish_branch: ${{ env.PREVIEW_BRANCH }}
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
          # Only keep the latest commit to avoid bloating the repository
          force_orphan: true

      - name: Publish CV to pdf branch
        if: ${{ github.event_name == 'push' }}
        # Don't use tags: https://julienrenaux.fr/2019/12/20/github-actions-security-risk/
        uses: peaceiris/actions-gh-pages@8a36f3edfc5d1cbae6b09e6f5a7d7b19e5b7a73b
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ env.OUTPUT_DIR }}
          publish_branch: ${{ env.PDF_BRANCH }}
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
          # Only keep the latest commit to avoid bloating the repository
          force_orphan: true
